<%-include("partials/header" , {title: title});-%>
    <title>Ecovis | Haqqımızda</title>
  </head>
  <body>
<%-include("partials/navbar");-%>
<%-include("partials/about_1");-%>
<%-include("partials/countries");-%>
<%-include("partials/contact");-%>
<%-include("partials/footer");-%>