<%-include("partials/header" , {title: title});-%>
    <title>Ecovis | Əlaqə</title>
  </head>
  <body>
<%-include("partials/navbar");-%>
<%-include("partials/map");-%>
<%-include("partials/contact");-%>
<%-include("partials/countries");-%>    
<%-include("partials/footer");-%>    