<%-include("partials/header" , {title: title});-%>
    <title>Ecovis | Əsas səhifə</title>
  </head>
  <body>
<%-include("partials/navbar");-%>
<%-include("partials/index_1");-%>
<%-include("partials/index_2");-%>
<%-include("partials/slider");-%>
<%-include("partials/contact");-%>
<%-include("partials/footer");-%>