<%-include("partials/header" , {title: title});-%>
<body>
  <%-include("partials/navbar");-%>
  <section class="about-section-1">
    <a href="#" class="about-button">Planning a consultation</a>
    <img
      src="../images/about-image.png"
      alt="about-image"
      class="about-image"
    />
    <%-include("partials/navigation" , {title: title});-%>
    <div class="about-content">
      <span class="about-header">SOME HEADER TEXT</span>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius error
        repellendus voluptatem neque? Temporibus delectus ratione nulla
        veritatis minus cum tempore voluptate, iusto atque quisquam dicta aut
        non molestias exercitationem corporis aperiam reiciendis quidem amet
        provident fuga vel sit ab fugiat earum! Et nihil cupiditate soluta. Amet
        odit expedita ad hic earum illo nemo eos culpa, iste repellat, explicabo
        neque praesentium magni placeat quidem dolor, non modi. Sequi quaerat
        suscipit temporibus dolorum repudiandae beatae delectus dicta velit
        itaque? Quisquam neque unde itaque vel dolore cumque nihil maxime
        tempora a quis quas iusto, impedit ipsam iure. Repellat doloribus
        voluptas earum, saepe impedit tenetur ipsum id eaque laboriosam
        distinctio, veritatis dolore vitae, eos quibusdam ex? Quaerat modi neque
        vel rerum sunt similique sequi, cumque incidunt quidem sed corporis
        dolore asperiores ut eligendi optio nobis, nostrum quisquam ipsa omnis
        temporibus! Ex, sint officia repellendus obcaecati voluptatem corrupti
        ducimus corporis pariatur id velit eum in incidunt laborum, minus
        maiores veniam voluptas modi porro recusandae doloribus laudantium ipsum
        quibusdam sed! Hic unde ab eligendi cupiditate sit. Alias laborum a
        accusantium aspernatur possimus similique incidunt officia maiores minus
        quia sed sapiente suscipit maxime quidem autem molestias pariatur nisi,
        nobis doloremque adipisci laboriosam corrupti placeat excepturi ipsum?
        Necessitatibus maxime voluptas modi numquam nesciunt illum molestias
        quia nulla consequuntur ea pariatur quibusdam delectus architecto dicta
        possimus quisquam ratione, voluptate debitis repudiandae veritatis sit
        harum. Praesentium, sunt! Recusandae quas laboriosam reiciendis eos
        ratione ipsa minima dignissimos et aperiam, dolore sapiente autem illum
        sequi deserunt corrupti consequatur, perferendis tenetur rem
        voluptatibus ab quisquam nesciunt perspiciatis repellendus. Mollitia vel
        commodi esse earum, natus sit id aperiam, nemo cumque enim officiis
        assumenda architecto! Aliquid itaque quibusdam ipsum provident
        cupiditate pariatur soluta ipsam animi rerum fugit veritatis illum
        expedita velit libero quas porro excepturi quidem nemo id, ullam saepe,
        minus atque. Eum accusamus veniam, nostrum voluptate quae blanditiis
        iure beatae aperiam quod? Enim sint accusamus reiciendis similique amet
        minus quod modi dolor pariatur, totam nobis soluta magnam, excepturi
        possimus consectetur ipsa architecto! Quasi possimus laudantium dolor
        numquam assumenda temporibus eveniet distinctio ut molestias veritatis
        impedit similique quibusdam quos voluptatem aspernatur, modi nostrum at
        nam nulla non aut explicabo mollitia. Sunt maiores hic esse deleniti
        voluptates blanditiis est aliquid nostrum dolores quasi, officia labore
        autem repellendus possimus perferendis aspernatur eos doloremque
        quisquam? Odit quia necessitatibus ut tempore debitis incidunt obcaecati
        id corporis vero? Porro voluptatum temporibus velit consequuntur minus
        eligendi cupiditate! Atque rem eos laboriosam quis iusto, commodi quo
        soluta doloremque omnis alias velit aliquam accusamus, ullam suscipit
        cumque eius consectetur necessitatibus magnam autem beatae asperiores
        molestiae modi ipsam maiores. Saepe vel, ut temporibus quos impedit
        repudiandae. Debitis odio nisi voluptas cum iusto inventore eius
        consequuntur doloremque. Voluptas ducimus explicabo ipsum molestias sed
        officiis eos reiciendis fugiat odit adipisci aspernatur minima expedita
        ab velit quo, cumque temporibus. Neque laboriosam iure nihil quas cumque
        velit cupiditate est, quisquam, asperiores dolore repellat nam vitae
        blanditiis adipisci. Saepe magni repellendus quis eum explicabo dolore,
        cumque voluptatum beatae aspernatur sunt aliquid error dignissimos
        debitis corporis cum illo dolorem!
      </p>
    </div>
  </section>

  <%-include("partials/countries");-%> <%-include("partials/contact");-%>
  <%-include("partials/footer");-%>
</body>
